@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:ital,wght@0,600;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============= GLOBAL CSS =============== */


@layer base {
  :root {
    --gradient: #373B44;
    --background: 235 95.55% 98.48%;
    --foreground: 235 1.1% 0.96%;

    --muted: 235 1.1% 92.4%;
    --muted-foreground: 235 0.55% 42.4%;

    --popover: 235 81.2% 92.4%;
    --popover-foreground: 235 1.1% 1.2%;

    --card: 235 81.2% 92.4%;
    --card-foreground: 235 1.1% 1.2%;

    --border: 235 6.1% 89.96%;
    --input: 235 6.1% 89.96%;

    --primary: 235 11% 24%;
    --primary-foreground: 235 0.22% 92.4%;

    --secondary: 235 0.55% 96.2%;
    --secondary-foreground: 235 1.6600000000000001% 12.4%;

    --accent: 235 0.55% 96.2%;
    --accent-foreground: 235 1.6600000000000001% 12.4%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 235 11% 24%;

    --radius: 0.5rem;
  }

  .dark {
    
    --background: 267 22.75% 2.88%;
    --foreground: 267 3.5% 96.8%;

    --muted: 267 17.5% 10.799999999999999%;
    --muted-foreground: 267 3.5% 53.6%;

    --popover: 267 56.6% 10.08%;
    --popover-foreground: 267 3.5% 96.8%;

    --card: 267 56.6% 10.08%;
    --card-foreground: 267 3.5% 96.8%;

    --border: 267 17.5% 10.799999999999999%;
    --input: 267 17.5% 10.799999999999999%;

    --primary: 267 35% 36%;
    --primary-foreground: 267 3.5% 96.8%;

    --secondary: 267 17.5% 10.799999999999999%;
    --secondary-foreground: 267 3.5% 96.8%;

    --accent: 267 17.5% 10.799999999999999%;
    --accent-foreground: 267 3.5% 96.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 267 3.5% 96.8%;

    --ring: 267 35% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-weight: 400;
  line-height: 1;
}

.grid-layout {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "a b c"
    "a b c"
    "a b c"
    "a b f"
    "d e f"
    "d e f";
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(6, minmax(82px, 1fr));
}

.grid-layout-small-screen {
  display: grid;
  gap: 1.5rem;
  grid-template-areas:
    "a"
    "a"
    "a"
    "a"
    "b"
    "b"
    "b"
    "b"
    "c"
    "c"
    "d"
    "d"
    "d"
    "e"
    "e"
    "f"
    "f"
    "f";
  grid-auto-columns: 1fr;
  grid-auto-rows: 30px;
}
.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}
.f {
  grid-area: f;
}

