@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;800&family=Work+Sans&display=swap');


::-webkit-scrollbar{
  display: none;
}
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #08192b;
  color: #ffffffcc;
  font-family: "Roboto Slab", serif;
}

.image-inverted{
  filter: invert(100%);
}